# ==========================
# Dependencies
# ==========================
node_modules/
**/node_modules/

# ==========================
# Environment Variables
# ==========================
.env
**/.env

# ==========================
# Build Files
# ==========================
dist/
build/

# ==========================
# Logs
# ==========================
*.log
npm-debug.log*

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db